<a href="https://colab.research.google.com/github/festuge/etech-python/blob/main/ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
x = 23.0
y = 17

x + y

40.0

In [2]:
type(x)

float

introduction to strings

In [3]:
z = 'Claudi is 33 years old.'
w = 'Claudi is running late!'

z + w

'Claudi is 33 years old.Claudi is running late!'

In [5]:
print(type(z))
print(type(w))

<class 'str'>
<class 'str'>

mini project

In [8]:
monthly_income = 5000
tax_rate = 0.184
rent = 1200
food = 320
wifi = 100
transport = 300
misc = 400

In [9]:
# income after tax:
At_income = monthly_income * (1-tax_rate)
print(At_income)

4080.0000000000005

to check total expenses

In [10]:
# total expenses
expenses = rent + food + wifi + transport + misc
print(expenses)

2320

whats left?

In [12]:
At_income - expenses

1760.0000000000005

Let's find out how many months we are going to save to be able to afford expenses for 6 months. how many months are we gonna save

In [14]:
max_savings = At_income - expenses
(expenses * 6) / max_savings        #eqn to calculate number of months to be able to cover 6 month's expenses

7.909090909090907

In [19]:
x = 23
z = 'Claudi is '
z + str(x)

'Claudi is 23'

dictionaries

In [22]:
activities = {'rain': 'read a book',
              'sunny': 'go for a swim',
              'snowy': 'build a fire'
              }
# dictionaries can be made with other data types

numbers = {'one': 1,
           'two': 2.0,
           'three': 3
           }

In [24]:
numbers['two']

2.0